main {
    width: calc(100% - 640px);
    margin-left: 320px;
    margin-right: 320px;
}



#title {
    font-size: 2.5vw;
    text-align: center;
    padding-bottom: 1.5vw;
    font-family: "Lexend", sans-serif;
    margin-top:1.5vw;
    color: #9a4942;
}

.section-title {
    font-size: 2vw;
    padding-bottom: 1vw;
    font-family: "Lexend", sans-serif;
    color: #9a4942;
}

.sub-title {
    padding-bottom: 0.75vw;
    font-size: 1.625vw;
    color: #444;
    padding-left: 2.5vw;
}

.sub-sub-title {
    padding-bottom: 0.75vw;
    font-size: 1.625vw;
    color: #686868;
    padding-left: 2.5vw;
}

.mytext {
    font-size: 1.375vw;
    padding-left: 2.5vw;
    line-height: 1.25;
    color: #686868;
    padding-bottom: 0.75vw;
    text-align: justify;
}

.mytext > a {
    font-size: 1.375vw;
    color: #035f37;
    border-bottom: 0.15vw dotted #035f37;
}

.mytext > a:hover {
    text-decoration: underline;
    color: #79bd58;
    border-bottom: 0.15vw dotted #79bd58;
}

.mytext.last {
    padding-bottom: 1.25vw;
}

.myimg {
    /* margin-top: 0.25vw; */
    margin-left: 2.5vw;
    width: 77.5%;
    box-sizing: border-box;
    border: 0.2vw solid orange;
    border-radius: 0.5vw;
    margin-bottom: 0.75vw;
}

span.delete {
    display: inline;
    font-size: inherit;
    color: inherit;
    text-decoration: line-through;
}

.mytext > a.delete {
    /* color: #686868; */
    border: 0;
    text-decoration: line-through;
}

.mytext > a.delete:hover {
    text-decoration: line-through;
    color: blue;
}

#iframe-container {
    width: 55vw;
    height: 32.0504vw;
    padding-bottom: 1.5vw;
    padding-left: calc(50% - 28.5vw);
    overflow: hidden;
}

#youtube {
    /* width: 55vw;
    height: 30.9375vw; */
    width: 695px;
    height: 405px;
    /* transform: scale(calc(55vw / 960px)); */
    transform-origin: 0 0;
    /* padding-bottom: 1.5vw;
    padding-left: calc(50% - 28.5vw); */
}

@media screen and (max-aspect-ratio: 1/1) {

}

body {
    background: linear-gradient(to top, #f0e5e4, rgb(255, 255, 255));
}