#left-right {
    display: flex;
    width: 98vw;
    margin-left: 1vw;
}

#left {
    width: 100%;

}

.sub-title {
    font-size: 1.75vw;
    line-height: 1.2;
    padding-bottom: 0.5vw;
    font-weight: 700;
}

.main-text {
    font-size: 1.25vw;
    line-height: 1.35;
    padding-bottom: 1.5vw;
}

.list-items {
    font-size: 1.25vw;
    line-height: 1.6;
}

.table-cell {
    display: inline-block;
    border: 0.15vw solid black;
    border-collapse: collapse;
}

.table-column-inside {
    border-left: 0;
    border-right: 0;
}

.table-row-nontop {
    border-top: 0;
}

:root {
    --table-cell-height: 2vw;
}

#table {
    margin-top: 0.5vw;
    margin-bottom: 1.5vw;
}

#table * {
    font-size: 1.25vw;
    line-height: var(--table-cell-height);
}

.table-cell {
    height: var(--table-cell-height);
    box-sizing: content-box;
    text-align: center;
}

.column-1st {
    width: 10vw;
}

.column-2nd {
    width: 10vw;
}

.column-3rd {
    width: 10vw;
}

#home-pub {
    text-align: justify;
}


.left {
    height: 37.5vw;
    /* background-color: yellow; */
    position: relative;
    margin-right:320px;
    margin-left:320px;
}

#intro-text-2 {
    text-align: left !important;
    line-height: 1.35 !important;
}


#no-padding {
    /* padding: 0 !important; */
    font-size: 1.15vw !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    line-height: 1.3043;
}

:root {
    --main-text-offset: 0.5vw;
}

#main-elements, #intro-text-2, #set-title, #data-table, #input-area-wrapper, #chat-rcmd {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width:100%;
}

#chat-input-text{
    width:100%;
}

#main-elements {
    top:2.5vw;
}

#main-elements > *{
    margin-top:1.5vw;
    text-align: center;
}

#main-elements > h2 {
    color:gray;
    font-family: "Lexend", sans-serif;
    font-size:1.5vw;
}

#main-elements > h3 {
    font-family: "Lexend", sans-serif;
    font-style:bold;
    font-size:2.25vw;
}

#main-elements > p {
    color:gray;
    font-size:1.15vw;
}

#intro-text-2 {
    top: calc(7vw + var(--main-text-offset));
    width: 65vw;
    text-align: justify !important;
    left: 17.5vw;
    transform: unset;
    line-height: 1.2 !important;
    font-size: 1.125vw !important;
}

#input-area {
    height: 4vw;
    width: 100%;
    /* background-color: yellow; */
    box-sizing: border-box;
    border: 0.1vw solid #888;
    border-radius: 3vw;
    padding: 0.3vw;
    border-color: rgba(0, 0, 0, 0);
    
}

#input-area.focusin {
    border-color: #888;
}

#input-area > div {
    background-color: #e8e8e8;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

#input-area > div > img {
    height: 2.4vw;
    margin-right: 0.4vw;
    z-index: 100;
    cursor: pointer !important;
    user-select: none;
    -webkit-user-drag: none;
}

#input-area > div > img:hover {
    opacity: 0.75;
}

#input-area > div > img:active {
    opacity: 0.6;
    /* cursor: pointer !important; */
}

#input-area > div > img.invalid {
    opacity: 0.25 !important;
    cursor: default !important;
}

#input-area > div > input {
    padding: 0;
    border: 0;
    margin: 0;
    margin-left: 1.6vw;
    outline: 0;
    background-color: transparent;
    font-size: 1.35vw;
    /* background-color: yellow; */
    height: 100%;
    width: 92%;
    caret-color: #000;
}

#input-area > div > input::selection {
    background-color: #000;
    color: #fff;
}

#input-area > div > input::placeholder {
    color: #949494;
}

#input-area-wrapper {
    top: 30vw;
    height: 4vw;
    /* position: absolute; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width:100%;

}

#input-area-wrapper > img {
    width: 2.25vw;
}

#input-area input {
    font-family: "Arial", sans-serif !important;
}

#chat-rcmd {
    top:18.5vw;
    display: flex;
    justify-content: space-between;
}

#chat-rcmd p {
    padding: 0.5vw;
    padding-top:1.2vw;
    padding-bottom:1.2vw;

    border-radius: 1vw;
    background-color: rgba(228, 228, 228, 0.5);
    font-size:1vw;
    flex: 1;
    margin: 0 10px;
    text-align: center;

    border: 3px solid #ffffff;
}

#chat-rcmd p:hover {
    background-color: #e8e8e8;
    cursor: pointer;
}

body {
    background: linear-gradient(to top, #f0e5e4, rgb(255, 255, 255));
}