#scroll-container-container {
    width: 100vw;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sm-legend {
    margin-left: 2.5vw;
    width: 8vw;
}

#zoom-button {
    display: flex;
    flex-direction: column;
    width: 3vw;
    height: 6.2vw;
    margin-left: 92vw;
    margin-top: -50vw;
    margin-bottom: 48vw;
}

#zoom-button button {
    width: 3vw;
    height: 3vw;
    font-size: 3vw;
    line-height: 3vw;
    background-color: var(--lib-sumit-background);
    color: #e8e8e8;
    display: block;
}

#zoom-down p {
    margin-top: -0.4vw;
    line-height: inherit;
    font-size: inherit;
    color: inherit;
}

#zoom-up {
    border-top-left-radius: 0.75vw;
    border-top-right-radius: 0.75vw;
}

#zoom-down {
    border-bottom-left-radius: 0.75vw;
    border-bottom-right-radius: 0.75vw;
}

#zoom-button button:hover {
    cursor: pointer;
    background-color: var(--lib-sumit-hover-color);
}

#zoom-button button:active {
    background-color: var(--lib-sumit-active-color);
}

#zoom-line {
    width: 3vw;
    height: 0.2vw;
    background-color: var(--lib-sumit-active-color);
}

#scroll-container {
    width: 45vw;
    /* margin-left: 27.5vw; */
    height: 55vw;
    overflow: scroll;
    scrollbar-width: none;
}

#scroll-container::-webkit-scrollbar {
    display: none;
}

#image-container {
    width: 100%;
    height: min-content;
    position: relative;
}

#select-img {
    width: 100%;
}

#image-container > a {
    position: absolute;
    z-index: 100;
    background-color: #000;
    opacity: 0;
}

#image-container > a:hover {
    cursor: pointer;
    opacity: 0.15;
}

#main-img {
    width: 75vw;
    margin-left: 5vw;
}

#sm-back {
    width: 10.5vw;
    border-radius: 0.6vw;
    margin-left: 83vw;
    margin-top: -35vw;
    margin-bottom: 35vw;
}